.footer {
  position: relative;
  padding: 4rem 0 2rem 0;
  background-color: var(--color-lb-dark-blue);
  text-align: center;
  color: var(--color-lb-off-white-dkr);
}

.footer img {
  max-width: 160px;
}

.footer p {
  font-size: 0.75rem;
}

.footer a {
  color: var(--color-lb-off-white-dkr);
}

.footer a:visited {
  color: var(--color-lb-off-white-dkr);
}

.footer a:hover {
  color: #fff;
}
