.main-footer {
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 -1px 0 #e1e1e1;
}

.footer {
  margin: 0 1rem;
  padding: 2rem 1rem;
  color: #5d5d5d;
  font-size: 0.75rem;
}

.footer img {
  height: 32px;
  vertical-align: middle;
  margin-right: 2rem;
}

.footer a {
  color: #5d5d5d;
}

.footer a:visited {
  color: #5d5d5d;
}

.footer a:hover {
  color: #5d5d5d;
  cursor: pointer;
}
