.main-wrapper {
  display: flex;
}

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  /* min-width: 0 required for flexbox to constrain overflowing elements */
  min-width: 0;
  width: 100%;
}
