<footer class="footer">
  <a href="https://cloudstate.io"><img src="{{uiRootPath}}/img/cloudstate-horizontal-color.svg"></a>
  © Cloudstate <script>document.write(new Date().getFullYear());</script> | <a href="https:///cloudstate.io/privacy/">Privacy Policy</a> | <a class="optanon-toggle-display">Cookie Settings</a>
</footer>
