<div class="main-footer">
  {{> page-source}}
  <div class="footer-box">
    <footer class="footer">
      <div class="footer-logo"><a href="https://cloudstate.io"><img src="{{uiRootPath}}/img/cloudstate-color.svg"></a></div>
      <div class="footer-content">© Cloudstate <script>document.write(new Date().getFullYear());</script> | <a href="https://www.lightbend.com/legal/privacy" target="_blank">Privacy Policy</a> | <a href="https://cloudstate.io/cookie">Cookie Listing</a> | <a class="optanon-toggle-display">Cookie Settings</a></div>
    </footer>
  </div>
</div>