<!--Head Scripts YouTube Embed-->
<script type="text/javascript">
	var ytID;
	function OptanonWrapper() {
		//find each YouTube embed and only load if cookies have been approved
		$( "a.yt-widget" ).each(function( index ) {
			var anchor = $(this);
			var ytURL = $(this).attr("href");
			var queryString = anchor[0].search;
			let params = new URLSearchParams(queryString);
			ytID = params.get("v");
			$(this).before('<div class="flex-video-wrapper"><div class="flex-video"><div id="yt-'+ytID+'" class="cookie-warning youtube-warning"><a class="optanon-allow-all">Accept cookies to view video</a><span>Alternatively you can watch the video <a href="'+ytURL+'" target="_blank">here on YouTube</a></span></div></div></div>');
			$(this).removeAttr("href").removeClass("yt-widget").addClass("yt-widget-hide");
		});

		$( ".youtube-warning" ).each(function( index ) {
			Optanon.InsertHtml('<iframe id="player" class="youtube-embed-player" src="//www.youtube.com/embed/'+ytID+'?rel=0&modestbranding=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>', 'yt-'+ytID, null, {deleteSelectorContent: true}, 4);
		});
	}
</script>