<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-global}}
{{> head-lightbend-cloudstate}}
{{> head-scripts-lightbend-cloudstate}}
{{> head-scripts-youtube-embed}}
  </head>
  <body class="{{page.attributes.type}} lightbend-cloudstate">
{{> header-lightbend-cloudstate theme="lightbend-cloudstate" url="https://www.lightbend.com/cloudstate-by-lightbend" site-id-url="https://developer.lightbend.com/docs/"}}
{{> cookie}}
<footer class="footer">
	{{> footer-nav}}
	{{> footer-legal-lightbend-cloudstate}}
</footer>
{{> footer-scripts-global}}
{{> footer-scripts-lightbend-cloudstate}}
  </body>
</html>