<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-global}}
{{> head-lightbend}}
{{> head-scripts-lightbend}}
{{> head-scripts-youtube-embed}}
  </head>
  <body class="article {{page.attributes.type}}">
{{> header theme="lightbend" url="https://developer.lightbend.com/docs/" site-id-url="https://developer.lightbend.com/docs/"}}
{{> main}}
<footer class="footer">
	{{> footer-nav}}
	{{> footer-legal-lightbend}}
</footer>
{{> footer-scripts-global}}
{{> footer-scripts-lightbend}}
  </body>
</html>