<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-global}}
{{> head}}
{{> head-scripts}}
{{> head-scripts-youtube-embed}}
  </head>
  <body class="article {{page.attributes.type}} cloudstate">
{{> header}}
{{> main}}
{{> footer-scripts-global}}
{{> footer-scripts}}
  </body>
</html>
